[Unit]
Description=Password Generator Web Service
After=network.target

[Service]
ExecStart=/opt/passwd-gen/password-generator
WorkingDirectory=/opt/passwd-gen
Restart=always
User=malik
Environment=PORT=8011

[Install]
WantedBy=multi-user.target